body {
  font-family: 'Roboto', sans-serif; /* Используем Roboto как основной шрифт */
  margin: 2em;
  color: #3d3d3d;
}

h1 {
  color: #007f8b; /* Цвет заголовка */
}

h2 {
  clear: both; /* Очистка float */
}

em {
  font-weight: bold; /* Жирный текст для акцента */
}

video {
  clear: both;
  display: block;
  transform: rotateY(180deg); /* Зеркальное отражение видео */
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

section {
  opacity: 1;
  transition: opacity 500ms ease-in-out; /* Плавное изменение прозрачности */
}

/* Стили для кнопки MUI */
.mui-button.removed {
  display: none; /* Скрыть кнопку, если добавлен класс removed */
}

.invisible {
  opacity: 0.2; /* Полупрозрачный элемент */
}

.videoView,
.detectOnClick {
  position: relative;
  float: left;
  width: 48%;
  margin: 2% 1%;
  cursor: pointer;
}

.detectOnClick p,
.videoView p {
  position: absolute;
  padding: 5px;
  background-color: #007f8b; /* Цвет фона */
  color: #fff; /* Белый текст */
  border: 1px dashed rgba(255, 255, 255, 0.7); /* Пунктирная рамка */
  z-index: 2;
  font-size: 12px;
  margin: 0;
}

.highlighter {
  background: rgba(0, 255, 0, 0.25); /* Полупрозрачный зеленый фон */
  border: 1px dashed #fff; /* Пунктирная рамка */
  z-index: 1;
  position: absolute;
}

.detectOnClick {
  z-index: 0;
}

.detectOnClick img {
  width: 100%; /* Изображение занимает всю ширину контейнера */
}